@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}
body{
    transition: background 0.2s linear;
}
body.dark{
    background: #232c35;
    color: white;
}
header{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 125px;
    padding: 0 120px;
    transition: background 0.2s linear;
}
header.dark{
    background: #232c35;
    color: white;
}
.nav{
    display: flex;
    align-items: center;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-bar a{
    text-decoration: none;
}
li{
    padding: 0 40px;
    color: #111;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.3s linear;
}
li:hover{
    color: #DE0F66;
}
li.dark{
    color: #fff;
    z-index: 3;
}
li.dark:hover{
    color: #DE0F66;
}
.head-padding{
    padding-left: 0;
}
.active{
    color: #DE0F66;
}
.active.dark{
    color: #DE0F66;
}
.logo a img{
    width: 64px;
}
.body-index{
    padding: 96px 0 120px 0;
}
.body-in{
    display: flex;
    padding: 0 120px;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 0px;
}
.text{
    padding-right: 120px;
}
.body-in span{
    color: #DE0F66;
}
.body-in-text2{
    font-size: 24px;
    font-weight: 400;
    padding-top: 30px;
}
img{
    width: 312px;
}
#bars{
    display: none;
    color: #111;
    font-size: 36px;
}
#checkbox-bars{
    position: relative;
    left: 27px;
    display: none;
}
.dark-theme{
    padding-left: 30px;
}
.label{
    background-color: #232c35;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 60px;
    transition: 0.2s linear;
}
.fa-solid{
    color: white;
    padding: 6px;
}
.checkbox{
    opacity: 0;
    position: absolute;
}
.ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 33px;
    width: 33px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
    transform: translateX(34px);
    background: #232c35;
}
.checkbox:checked + .label{
    background: #fff;
}
.fa-cloud-showers-heavy{
    color: #232c35;
}
.fa-cloud-sun{
    color: #fff;
}
@media (max-width: 428px){
    header{
        display: flex;
        width: 100%;
        padding: 0 60px;
    }
    .nav-bar{
        left: 0;
        line-height: 50px;
        position: absolute;
        display: block;
        top: 120px;
        width: 100%;
        height: 75vh;
        padding: 0 60px;
        text-align: center;
        background-color: #232c35;
        opacity: 0;
    }
    li{
        padding: 30px 0 30px 0;
        display: block;
        font-size: 28px;
        color: #fff;
    }
    .body{
        padding: 0;
    }
    #bars{
        display: flex;
        cursor: pointer;
        padding: 0 0 0 30px;
    }
    #checkbox-bars{
        display: flex;
        opacity: 0;
    }
    .toggle{
        opacity: 1;
    }
    .disable{
        display: none;
    }
    .body-in{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 60px 60px;
        width: 100%;
    }
    .body-in img{
        display: flex;
        justify-content: center;
    }
    .text{
        padding: 0 0 30px 0;
        font-size: 35px;        
    }
    .active{
        color: #fff;
    }
}

/* ABOUT-PAGE */
footer{
    padding: 60px 120px 20px 120px;
}
.line{
    width: 100%;
    height: 3px;
    background-color: #232c35;
}
.line.dark{
    background-color: #fff;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes.dark{
    color: #fff;
}
.footer-title{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 700;
}
.redes a{
    text-decoration: none;
    color: #232c35;
    font-size: 32px;
    margin: 20px 30px;
    transition: 0.2s linear;
}
.redes a:hover{
    color: #DE0F66;
}